{{ ansible_managed | comment }}

.:{{ coredns_port }} {
    forward . 8.8.8.8 1.1.1.1
    cache 30
    errors
    {% if coredns_health_check_enabled %}
    health :{{ coredns_health_check_port }}
    {% endif %}
    log
    reload
}
